@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-white/70 rounded-full hover:bg-white/50;
}

body {
  overflow: overlay;
  -webkit-tap-highlight-color: transparent;
  @apply bg-[url('../public/background.png')] bg-fixed bg-cover bg-center text-neutral-900 font-medium font-['Nunito'];
}

/* keep the footer at the bottom of the page */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer components {
  .wrapper {
    @apply container m-auto p-3 sm:p-5;
  }
  /* .navbar {
    @apply bg-gradient-to-br from-teal-300 to-indigo-400;
  } */
}
/* @layer utilities {
  @media screen and (min-width: 640px) {
    .navbar {
      background: transparent;
    }
  }
} */
